@header-color: #757575;
@navigation-color: #f5f5f5;
@font-color: #fff;
html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}
a:link{
  text-decoration: none;
}

wrapper {
  display: grid;
  min-height: 100vh;
  grid-template-areas: "header header header" "navLeft navigation navRight" "left main right" "footer footer footer";

  grid-template-rows: 50px 50px 10fr 30px;
  grid-template-columns: 1fr 1012px 1fr;
}

@media all and (max-width: 1012px) {

  wrapper {
    grid-template-areas: "header" "navigation" "main" "footer";
    grid-template-columns: 100%;
    grid-template-rows: 50px 50px 1fr 30px;
  }
}

@media all and (max-width: 600px) {
  wrapper {
    grid-template-areas: "header navigation" "main main";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr;
  }
  navigation{
    background: @header-color !important;
  }
  .navName{
    visibility: hidden;
  }
}

header {
  background: @header-color;
  grid-area: header;
}
navLeft, navRight{
  background-color: @navigation-color;
}
navigation {
  grid-area: navigation;
  background: @navigation-color
}

main {
  padding: 6px;
  grid-area: main;
}

footer {
  background: @header-color;
  grid-area: footer;
}
.navBrand{
   display: table;
   height: 50px;
  color: @navigation-color;

}
.navLogo {
  display: table-cell;
  vertical-align: middle;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 20px;
  height: 40px;
}
.navName {
  display: table-cell;
  vertical-align: middle;
  font-size: 1.5em;
}
.navBrand:hover {
  color: #fff;
}

