.navUserMenu {
  height: 50px;
  width: 50px;
  display: inline;
}

.navUserImage {
  float: right;
  margin-top: 3px;
  margin-right: 10px;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  border: 2px solid @border-color;
}

.navUserImage > img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 35px;
  border-radius: 35px;
}

.navUserMenu-content {
  display: block;
  position: absolute;
  right: 10px;
  margin-top: 50px;
  z-index: 1;
  padding: 30px 10px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 8px 16px -4px rgba(9, 45, 66, 0.25), 0 0 0 1px rgba(9, 45, 66, 0.08);
  overflow: hidden;
  width: 304px;
  -webkit-transform: translateZ(0);
}

.navUserMenu-content a {
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  display: block;
}

.navUserMenu-content a:hover {
  color: @highlight-color;
}

.navUserImage:hover .navUserMenu-content {
  display: block;
  color: @font-color-secondary;
}

.navUserMenu-signout {
  cursor: pointer;
}
