@media all and (max-width: 1012px) {
  .orderListCard {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media all and (max-width: 800px) {
  .orderListCard {
    grid-template-columns: 10px 70px 250px auto !important;
    grid-teamplate-rows: auto;
    grid-template-areas: 'status image name result' 'status image created result' !important;
  }

  .orderListContainer {
    padding-left: 20px;
    padding-right: 20px;
  }

  .orderListCardResults {
    text-align: left;
  }
}

@media all and (max-width: 600px) {
  .orderListCard {
    grid-template-columns: 10px auto auto !important;
    grid-teamplate-rows: auto;
    grid-template-areas: 'status name result' 'status created result' !important;
  }
  .orderListImage {
    display: none;
  }
  .orderListCardName,
  .orderListCardCreated {
    margin-left: 10px;
  }
}

.orderListContainer {
  color: @font-color;
  font-size: 15px;
}

.orderListCard {
  display: grid;
  margin-top: 10px;
  border: 1px solid @border-color;
  min-height: 100px;
  grid-template-columns: 10px 70px 300px auto 200px;
  grid-template-areas: 'status image name result created';
  cursor: pointer;
  text-decoration: none;
  color: @font-color;
}

.orderListCardName {
  line-height: 1.5em;
  grid-area: name;
  margin-top: 10px;
}

.orderListCardStatus {
  grid-area: status;
  justify-content: left;
  height: 100%;
}

.orderListImage {
  grid-area: image;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  width: 50px;
  height: 50px;
}

.orderListCardStatus.success {
  background: @success-color;
  color: @success-color;
}

.orderListCardStatus.processing {
  background: @highlight-color;
  color: rgba(255, 255, 255, 0.851);
}

.orderListCardStatus.warning {
  background: @warning-color;
  color: @warning-background;
}

.orderListCardStatus.error {
  background: @error-font;
  color: @error-background;
}

.orderListCardResults {
  margin-top: 10px;
  margin-bottom: 10px;
  font-style: italic;
  grid-area: result;
}

.orderListCardCreated {
  margin-top: 10px;
  justify-items: end;
  grid-area: created;
}

.orderListCardTime {
  grid-column-start: 12;
  grid-column-end: 13;
}

.orderListLabel {
  font-size: 1.5em;
  text-align: right;
}

.orderListDescription {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: right;
}

.orderListContainer :hover {
  color: @highlight-color;
}
