@media all and (max-width: 1012px) {
  .orderListCard {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .orderListCardId {
    grid-template-columns: auto;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .orderListCardStatus {
    grid-row: 2;
    grid-column-start: 1 !important;
    grid-column-end: 3 !important;
  }
}

.orderListContainer {
  width: 1000px;
  color: @font-color;

  font-size: 15px;
}
.orderListCard {
  display: grid;
  margin-top: 10px;
  border: 1px solid @border-color;
  width: 100%;
  height: auto;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-rows: 100%;
  cursor: default;
  text-decoration: none;
  color: rgb(89, 89, 89);
}

.orderListCardName {
  max-height: 20px;
  border-bottom: 1px solid rgb(232, 232, 232);
  grid-column-start: 2;
  grid-column-end: 25;
  grid-row-start: 1;
  grid-row-end: 2;
}

.orderListCardStatus {
  max-width: 20px;
  height: 100%;
  color: rgb(244, 244, 244);
  font-size: 20px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 6;
}

.orderListCardStatus.success {
  background: black;
  border: 1px solid rgba(0, 128, 0, 0.637);
  color: rgba(255, 255, 255, 0.851);
}

.orderListCardStatus.processing {
  background: black;
  border: 1px solid rgba(0, 128, 0, 0.637);
  color: rgba(255, 255, 255, 0.851);
}

.orderListCardStatus.warning {
  background: black;
  border: 1px solid rgba(0, 128, 0, 0.637);
  color: rgba(255, 255, 255, 0.851);
}

.orderListCardStatus.error {
  background: black;
  border: 1px solid rgba(0, 128, 0, 0.637);
  color: rgba(255, 255, 255, 0.851);
}

.orderListCardResults {
  min-height: 50px;
  color: black;
  font-style: italic;
  // font-weight: bold;
  grid-column-start: 2;
  grid-column-end: 25;
  grid-row-start: 2;
  grid-row-end: 5;
}

.orderListCardCreated {
  // max-height: 20px;
  // background: red;
  grid-column-start: 2;
  grid-column-end: 25;
  grid-row-start: 5;
  grid-row-end: 6;
  justify-items: end;
}

.orderListCardTime {
  grid-column-start: 12;
  grid-column-end: 13;
}

.orderListImage {
  border: 2px solid @border-color;
  border-radius: 50px;
  position: relative;
}

.orderListImage > img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 45px;
}

.orderListLabel {
  font-size: 1.5em;
  text-align: right;
}

.orderListDescription {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: right;
}

.orderListContainer :hover {
  color: @highlight-color;
}
